div.header {
  text-align:center;
}
img.logo {
  width:80%;
}
div.info {
  width:100%;
  font-family:Reenie Beanie;
  font-size:200%;
  text-align:center;
  color:#333333;
}
div#main-grid {
  margin-top:20px;
}
body {
  color:#333333;
}
h2 {
  font-family:Lato;
  font-weight:normal;
  color:#333333;
}
h3 {
  font-family:Lato;
  font-weight:normal;
  color:#333333;
}

div.conf-info {
  margin-left:10%;
  margin-right:10%;
  padding: 0 0 0 0;
  text-align:left;
}


img.spns {
  max-width:100%;
}

p.spns {
  text-align:center;
}
img.spns {
  max-height:70px;
  text-align:center;
  vertical-align:middle;
}

div.speaker {
	width: 47%;
	float: left;
	margin-right: 2%;
	height: 610px;
}

.sp0nsor-link {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  transition: all 1s ease;
  padding-bottom:4px;
}

.sp0nsor-link.active {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.sp0nsor-blurb {
  opacity: 0;
  transition: all 1s ease;
}

.sp0nsor-blurb.active {
  opacity: 1;
}

.sp0nsor-blurb a {
  width: initial !important;
  margin: initial !important;
}

/*  MAIN LAYOUT	============================================================================= */

#intro {
  text-align: center;
  font-size: 1.5em;
}

a.photo-credit {
  position: absolute;
  top: 73px;
  left: 5px;
  color: rgba(255, 255, 255, 0.35);
}

a.photo-credit:hover {
  color: #fff;
}

#full-baner{
  position:relative;
  height:100%;
  width:100%;
}
.banner-text{
  font-size: 30px;
  margin: 30px 0;
  text-shadow:0 0 10px rgba(0,0,0,0.8);
}
.header-logo{
  cursor:pointer;
}
#main {
  background: #fff;
  position: relative;
}
.content-wrapper{
  position:absolute;
  height:100%;
  width:100%;
  z-index:1;
  display:table;
  vertical-align:middle
}
#content, .banner-content{
  max-width:800px;
  margin:auto;
  box-sizing:border-box;
  padding:0 20px;
}
.banner-content{
  display:table-cell;
  vertical-align:middle;
  padding: 100px 20px 0;
  color: #fff;
}
#full-banner h1, #full-banner h2, #full-banner h3{
  color:#fff;
  text-shadow:0 0 10px rgba(0,0,0,0.8);
}
#header{
  position:fixed;
  top:0;
  left:0;
  z-index:2;
  width:100%;
  background:#333333;  
  text-align: left;
}
hr {
  border: 2px solid #000;
  background: #000;
  margin: 50px auto;
}
.section {
  padding: 70px 0;
  clear:both;
  text-align:left;
}
#navigation{
  text-align: left;
  padding: 10px 20px;
  max-width:1200px;
  margin:auto;
  position:relative;
}

#navigation ul{
  margin:0;
  padding:0;
  position: absolute;
  right: 20px;
  top: 25px;
}
#navigation li{
  display:inline-block;
  list-style:none;
  padding:0;
}
#navigation li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 10px;
}
#navigation li a:hover{
color:#ee3344;
}

			
#content #tickets .ticket-block {
	width: 47%;
	display: block;
	float: left;
}
#content #stay-play .stay-play {
	width: 30%;
	display: inline-block;
}
#sp0nsors a {
  width: 150px;
  display: inline-block;
  margin: 20px 30px;
}
.scroll-indicator{
  position:relative;
}
.scroll-indicator i{
  position: absolute;
  left: 50%;
  margin-left: -30px;
  top:0;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
}
.scroll-indicator:hover i{
  top:10px;
  text-shadow:0 0 5px #000;
}
.scroll-indicator i:before {
  font-size: 50px;
  color: #fff;
}
.mobile-nav {
  display:none;
}
.stay-play{
  height: 250px;
  width: 100%;
  background-size: cover !important;
  margin-right: 3%;
  margin-bottom:25px;
}
.stay-play .overlay{
  color:#fff;
  padding: 10px;
  height: 100%;
  width: 100%;
  background: none;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  text-shadow:0 0 10px #000;
  position:relative;
}
.stay-play:hover .overlay{
  background: rgba(255, 107, 0, 0.5);
}
.overlay-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  background: #000;
  width: 100%;
  text-align: left;
}

@media (max-width: 1000px) {
  
    .content-wrapper{
      position:relative;  
    }
    #full-banner{
      background:url(../images/oslo.jpg) no-repeat center;
      background-size:cover;
    }

    h1 {
      font-size: 4em;
      letter-spacing: -4px;
      line-height: 1em;
      margin-bottom:50px;
    }
    #full-banner h1 {
      line-height: 1em;
      margin-bottom:10px;
    }
    #full-banner h2{
      font-size: 2em;
    }
    .section {
      padding: 50px 0;
    }
    div.speaker {
      width: 100%;
      float: none;
      margin-right: 0;
      height: initial;
      margin-bottom: 120px;
    }
    #sp0nsors a {
      width: 100%;
      display: block;
      margin: 50px 0;
      text-align: center;
    }
    img.spns {
      max-height: none;
      text-align: center;
      vertical-align: middle;
      max-width: 50%;
    }
      
    .banner-text {
      font-size: 25px;
      line-height: 25px;
    }
    img.full-logo {
      width: 200px;
    }
    #navigation ul{
      position:relative;
      top: 0;
      margin-top: 20px;
      margin-bottom: 20px;
      display:none;
    }
    #navigation li{
      display:block;
    }

    #navigation li a {
      padding: 8px 30px;
      display: block;
    }
    .fotorama {
      display:none;
    }
    .mobile-nav {
      color: #fff;
      position: absolute;
      top: 10px;
      right: 20px;
      font-size: 37px;
      display:block;
    }
    .ticket-block, .stay-play{
      width:100% !important;
      float:none !important;
    }

}
